{% extends 'master/base.html' %}
{% load static %}

{% block title %}
  Login Page
{% endblock %}
{% block customcss %}
<style media="screen">
body, html {

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("{% static 'imgs/mu.jpg' %}");

}
label {
    color: white;
}
input[type=text], input[type=password]{
    width: 80%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #fff0;
    border-radius: 10px;
}
.btn {
    border: none;
    background: linear-gradient(to right, #F9A8AF, #4ca2cb) ;

color: #ffffff !important;
font-weight: 100;
padding: 20px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}
    .btn:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}
</style>
{% endblock %}

{% block bodycontent %}
{% if msg %}
<div class="alert alert-info alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{ msg }}
</div>
{% endif %}
<div class="container col-md-4 col-md-offset-4" style="padding-top:100px;">
  <div class="page-header"> <h2 style="color:#FFFFCC; text-align:center; font-size:45px;"><strong>Login</strong></h2></div>
  <form method="post">
      {% for field in form %}
      <p>
      <div>
        {{ field.label_tag }} <br/>
        {{ field }}
        </div>
      </p>
      {% for error in form.field_errors %}
        <div class="alert alert-warning alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ error }}
        </div>
        <br/>
      {% endfor %}
      {% csrf_token %}
      {% endfor %}
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ error }}
          </div>
          <br/>
        {% endfor %}
      {% endif %}
    <button type="submit" class="btn  col-md-6 " >LOGIN</button>
  </form>
</div>
{% endblock %}
