{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    {% block customcss %}
    {% endblock %}
  </head>
  <body id="#mypage">
  {% include 'song/partials/navbar.html' %}

  {% block bodycontent %}

  {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% block javascript %}
  {% endblock %}
  </body>
</html>
